<!DOCTYPE html>
<html lang="en">
<body>
<div class="header">
  <!-- Start Topbar Mobile -->
  <div class="topbar-mobile">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="mobile-logobar">
          <a href="index.html" class="mobile-logo"><img src="assets/images/logo.svg" class="img-fluid" alt="logo"></a>
        </div>
        <div class="mobile-togglebar">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <div class="topbar-toggle-icon">
                <a class="topbar-toggle-hamburger" href="javascript:void();">
                  <img src="assets/images/svg-icon/horizontal.svg" class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                  <img src="assets/images/svg-icon/verticle.svg" class="img-fluid menu-hamburger-vertical" alt="verticle">
                </a>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="menubar">
                <a class="menu-hamburger navbar-toggle bg-transparent" href="javascript:void();" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="true">
                  <img src="assets/images/svg-icon/menu.svg" class="img-fluid menu-hamburger-collapse" alt="menu">
                  <img src="assets/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Navigationbar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="logobar">
      <a href="index.html" class="logo logo-large"><img src="assets/images/logo.svg" class="img-fluid" alt="logo"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav mr-auto horizontal-menu">
        <li class="nav-item scroll active">
          <a class="nav-link" href="index.html">장애 조회</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="error-register.html">장애 접수</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mypage.html">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notice.html">공지사항</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0 dropdown">
        <a class="nav-link bg-light-rgba rounded-pill dropdown-toggle" href="#" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/svg-icon/crm.svg" class="login-img"><span class="login-font">000 님</span></a>
        <div class="dropdown-menu" aria-labelledby="dropdownLogin">
          <a class="dropdown-item" href="#">로그아웃</a>
        </div>
      </form>
    </div>
  </nav>
  <!-- End Navigationbar -->
</div>
</body>
</html>